<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.poker.repository.mybatis.ScoreMapper">

    <select id="findAll" resultType="com.poker.domain.Score">
        SELECT
        ps.score_id AS scoreId,
        ps.userid AS userId,
        u.username AS username,
        ps.game_date AS gameDate,
        ps.score AS score,
        ps.updated_at AS updatedAt
        FROM
        poker_scores ps
        JOIN
        users u ON ps.userid = u.userid
        ORDER BY
        ps.userid ASC,
        ps.game_date ASC
    </select>

    <select id="findByUserId" parameterType="long" resultType="com.poker.domain.Score">
        SELECT
        ps.score_id AS scoreId,
        ps.userid AS userId,
        u.username AS username,
        ps.game_date AS gameDate,
        ps.score AS score,
        ps.updated_at AS updatedAt
        FROM
        poker_scores ps
        JOIN
        users u ON ps.userid = u.userid
        WHERE
        ps.userid = #{userId}
        ORDER BY
        ps.game_date ASC
    </select>

    <!-- スコアIDでスコアを取得 -->
    <select id="findById" parameterType="long" resultType="com.poker.domain.Score">
        SELECT ps.score_id, ps.userid, u.username, ps.game_date, ps.score, ps.updated_at, ps.updated_by
        FROM poker_scores ps
        JOIN users u ON ps.userid = u.userid
        WHERE ps.score_id = #{scoreId}
    </select>

    <!-- その他のSQL文を定義 -->
    <!-- 新規スコア登録 -->
    <insert id="insertScore" parameterType="com.poker.domain.Score">
        INSERT INTO poker_scores (userid, game_date, score, username)
        SELECT
        #{userId},
        #{gameDate},
        #{score},
        u.username
        FROM users u
        WHERE u.userid = #{userId}

    </insert>

    <!-- スコア情報の更新 -->
    <update id="updateScore" parameterType="com.poker.domain.Score">
        UPDATE poker_scores
        <set>
            score = #{score},
            game_date = #{gameDate},
            updated_at = CURRENT_TIMESTAMP,
            updated_by = #{updatedBy}
        </set>
        WHERE score_id = #{scoreId}
    </update>

</mapper>