<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.poker.repository.mybatis.ScoreMapper">

    <select id="findAll" resultType="com.poker.domain.Score">
        SELECT
        ps.score_id AS scoreId,
        ps.user_id AS userId,
        u.username AS username,
        ps.game_date AS gameDate,
        ps.score AS score,
        ps.updated_at AS updatedAt
        FROM
        poker_scores ps
        JOIN
        users u ON ps.user_id = u.user_id
        ORDER BY
        ps.user_id ASC,
        ps.game_date ASC
    </select>

    <select id="findByUserId" parameterType="long" resultType="com.poker.domain.Score">
        SELECT
        ps.score_id AS scoreId,
        ps.user_id AS userId,
        u.username AS username,
        ps.game_date AS gameDate,
        ps.score AS score,
        ps.updated_at AS updatedAt
        FROM
        poker_scores ps
        JOIN
        users u ON ps.user_id = u.user_id
        WHERE
        ps.user_id = #{userId}
        ORDER BY
        ps.game_date ASC
    </select>

    <!-- その他のSQL文を定義 -->
    <!-- 新規スコア登録 -->
    <insert id="insertScore" parameterType="com.poker.domain.Score">
        INSERT INTO poker_scores (user_id, game_date, score)
        VALUES (#{userId}, #{gameDate}, #{score})
    </insert>

</mapper>