<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.poker.repository.mybatis.UserMapper">

    <select id="findAll" resultType="com.poker.domain.User">
        SELECT * FROM users
    </select>

    <select id="findById" parameterType="com.poker.domain.User" resultType="com.poker.domain.User">
        SELECT * FROM users WHERE userid = #{userId}
    </select>

    <!-- その他のSQL文を定義 -->
    <!-- 新規ユーザー登録 -->
    <insert id="insertUser" parameterType="com.poker.domain.User">
        INSERT INTO users (username, email, password)
        VALUES (#{userName}, #{email}, #{password})
    </insert>

    <!-- ユーザー情報の更新 -->
    <update id="updateUser" parameterType="com.poker.domain.User">
        UPDATE users
        SET
        username = #{userName},
        updated_by = #{updatedBy},
        email = #{email}
        <if test="password != null">
            , password = #{password}
        </if>
        WHERE userid = #{userId}
    </update>

    <!-- ユーザーログイン情報を取得する -->
    <select id="loginUser" parameterType="string" resultType="com.poker.dto.DBUser">
        SELECT userid, username, password, role
        FROM users
        WHERE username = #{username}
    </select>

</mapper>